{% extends 'dbcheck/base.html' %}
{% block content %}

	<div id="page" class="container">
		<div class="column1">
			<div class="title">
				<h2>MariaDB 마스터/슬레이브 체크</h2>
				<span class="byline">MariaDB Master/Slave Check</span>
			</div>

            <div>
                <table>
                <tr>
                    <th>인스턴스명</th><th>서버명</th><th>IP</th><th>port</th><th style="width:800px">M/S</th>
                </tr>
                {% for instance in Instancelist %}
                    <tr>
                        <td><a href="{%  url  'instdetail' pk=instance.pk %}">{{ instance.instancename}}</a></td>
                        <td>{{ instance.servername }}</td>
                        <td>{{ instance.ipaddr }}</td>
                        <td>{{ instance.port}}</td>
                        <td style="width:800px">{{ instance.ms }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>


			<a href="#" class="button">Etiam posuere</a>
		</div>

	</div>

{% endblock %}